<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="app">
      <iframe src="../index.html" frameborder="0"></iframe>
      <!-- 
      <h1>Hello World!</h1>
      <form action="#" @submit.prevent="createNewPage">
        <input v-model="newPageName" type="text" name="fileName" />
        <button type="submit">Создать страницу</button>
      </form>
      <div class="files-list">
        <h2 @click="removePage(page)" v-for="page in pages">{{page}}</h2>
      </div>
      -->
    </div>

    <script src="bundle.js"></script>
  </body>
</html>
